@model Hryhoriichuk.University.Instagram.Web.Models.MyProfile

@{
    Layout = "_Layout";
}
<a asp-controller="MyProfile" asp-action="Index" asp-route-nickname="@Model.UserName">My Profile</a>


<style>
    .posts-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .post-card {
        position: relative;
        width: 100%;
        padding-top: 100%; /* Maintain aspect ratio of 1:1 */
        overflow: hidden;
    }

    .post-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    .post-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: none;
    }

    .post-card:hover .post-caption {
        display: block;
    }
</style>

<div>
    <p>Full Name:</p> @Model.FullName
    <p><strong>User Name:</strong> @Model.UserName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Locked Out:</strong> @(Model.IsLockedOut ? "Yes" : "No")</p>
</div>

<hr />

<div>
    <h4>My Posts</h4>
    @if (Model.Posts != null && Model.Posts.Any())
    {
        <div class="posts-grid">
            @foreach (var post in Model.Posts.OrderByDescending(p => p.DatePosted))
            {
                <div class="post-card">
                    <div class="post-image" style="background-image: url('@post.ImagePath')" onclick="location.href='@Url.Action("PostDetail", "MyProfile", new { id = post.Id })'"></div>
                    <div class="post-caption">@post.Caption</div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No posts found.</p>
    }
</div>
