@model Hryhoriichuk.University.Instagram.Web.Models.Profile

@{
    Layout = "_Layout";
}

<style>
    .posts-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .post-card {
        position: relative;
        width: 100%;
        padding-top: 100%; /* Maintain aspect ratio of 1:1 */
        overflow: hidden;
    }

    .post-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    .post-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: none;
    }

    .post-card:hover .post-caption {
        display: block;
    }
</style>

<div>
    <p>Full Name:</p> @Model.FullName
    <p><strong>User Name:</strong> @Model.UserName</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>

<hr />

<div>
    <h4>Posts</h4>
    @if (Model.Posts != null && Model.Posts.Any())
    {
        <div class="posts-grid">
            @foreach (var post in Model.Posts.OrderByDescending(p => p.DatePosted))
            {
                <div class="post-card">
                    <a href="@Url.Action("PostDetail", "Profile", new { username = Model.UserName, postId = post.Id })">
                        <div class="post-image" style="background-image: url('@post.ImagePath')"></div>
                        <div class="post-caption">@post.Caption</div>
                    </a>
                </div>
            }

        </div>
    }
    else
    {
        <p>No posts found.</p>
    }
</div>

@if (User.Identity.IsAuthenticated && User.Identity.Name != Model.UserName)
{
    @if (Model.IsFollowing)
    {
        <form id="unfollowForm" asp-controller="Follow" asp-action="Unfollow" method="post">
            <input type="hidden" name="userIdToUnfollow" value="@Model.Id" />
            <button type="submit" id="unfollowButton">Unfollow</button>
        </form>
    }
    else
    {
        <form id="followForm" asp-controller="Follow" asp-action="Follow" method="post">
            <input type="hidden" name="userIdToFollow" value="@Model.Id" />
            <button type="submit" id="followButton">Follow</button>
        </form>
    }
}

